body {
	background-color: #0000b4;
}

.header {
	width: 80%;
	height: 600px;
	margin: 0 auto;
	background-color: #0000b4;
	justify-content: center;
	align-content: center;
}

h1 {
	text-align: center;
	font-size: 50px;
	color: white;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 900;
}

.flag {
	margin: 0 auto;
	width: 100%;
	justify-content: center;
	align-content: center;
}

.flag-img {
	text-align: center;
}

.content {
	width: 100%;
	background-color: #f0f1f2;
}

.news {
	width: 50%;
	padding: 30px 60px;
	margin: 10px 10px;
	border: solid 2px black;
}

.news:hover {
	transform: scale(1.01);
	background-color: #bae6e8;
	transition: 1s;
}

.news-header {
	height: 45px;
}

.news-text {
	font-family: 'PT Sans', sans-serif;
}

.news-img {
	align-content: center;
}

.breaking {
	margin: 10px 10px;
	border: solid 3px red;
	align-content: center;
	background-color: #ffca9f;
}

.breaking:hover {
	transform: scale(1.01);
	background-color: #ff4800;
	transition: 1s;
}

.breaking-header {
	line-height: 50px;
	text-align: center;
}

.breaking-header h3 {
	font-size: 32px;
}

.line1 {
	display: flex;
}

.line1 img {
	width: 500px;
	height: 300px;
}

.news-img-img {
	text-align: center;
}

h3 {
	text-align: center;
	font-size: 24px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
}

.line2 {
	display: flex;
}

.line3 {
	display: flex;
}

@media (max-width: 1350px) {
	.news-img-img {
		text-align: center;
	}

	.line1 img {
		width: 333px;
		height: 200px;
	}

	.line2 img {
		width: 333px;
		height: 200px;
	}

	.line3 img {
		width: 333px;
		height: 200px;
	}

	.news-header {
		height: 70px;
	}

	.flag {
	margin: 0 auto;
	width: 75%;
	justify-content: center;
	align-content: center;
	}
}

@media (max-width: 1000px) {
	.news-img-img {
		text-align: center;
	}

	.line1 img {
		width: 222px;
		height: 133px;
	}

	.line2 img {
		width: 222px;
		height: 133px;
	}

	.line3 img {
		width: 222px;
		height: 133px;
	}

	.news-header {
		height: 100px;
	}

	.flag {
	margin: 0 auto;
	width: 75%;
	justify-content: center;
	align-content: center;
	}
}

@media (max-width: 800px) {
	.line1 {
		display: flex;
		flex-direction: column;
		align-content: center;
	}

	.line2 {
		display: flex;
		flex-direction: column;
		align-content: center;
	}

	.line3 {
		display: flex;
		flex-direction: column;
		align-content: center;
	}

	.news {
	width: 80%;
	padding: 15px 30px;
	margin: 10px auto;
	border: solid 2px black;
	}

	.flag {
	width: 70%;
	justify-content: center;
	align-content: center;
	}

	.flag img {
		width: 222px;
		height: 133px;
	}

	.header {
	width: 80%;
	height: 300px;
	margin: 0 auto;
	background-color: #0000b4;
	justify-content: center;
	align-content: center;
	}
}

@media (max-width: 425px) {
	.news-header {
		height: 120px;
	}

	.line1 {
		display: flex;
		flex-direction: column;
		align-content: center;
		margin: 0 auto;
	}

	.line2 {
		display: flex;
		flex-direction: column;
		align-content: center;
	}

	.line3 {
		display: flex;
		flex-direction: column;
		align-content: center;
	}

	.news {
	width: 80%;
	padding: 5px 5px;
	margin: 10px auto;
	border: solid 2px black;
	}

	.flag {
	width: 70%;
	justify-content: center;
	align-content: center;
	}

	.flag img {
		width: 148px;
		height: 89px;
	}

	.header {
	width: 80%;
	height: 300px;
	margin: 0 auto;
	background-color: #0000b4;
	justify-content: center;
	align-content: center;
	}

