@font-face {
  font-family: "Aino";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Aino-Regular"),
       /* Если не получилось, загрузит woff2 */
       url("fonts/Aino-Regular.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("fonts/Aino-Regular.woff") format("woff");
}

@font-face {
  font-family: "Aino-Bold";
  font-style: bold;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Aino-Bold"),
       /* Если не получилось, загрузит woff2 */
       url("fonts/Aino-Bold.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("fonts/Aino-Bold.woff") format("woff");
}

@font-face {
  font-family: "Aino-Headline";
  font-style: bold;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Aino-Headline"),
       /* Если не получилось, загрузит woff2 */
       url("fonts/Aino-Headline.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("fonts/Aino-Headline.woff") format("woff");
}

body {
	background-color: #0000b4;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}

.header {
	width: 80%;
	height: 500px;
	margin: 0 auto;
	background-color: #0000b4;
	justify-content: center;
	align-content: center;
	margin-bottom: 10px;
}

h1 {
	text-align: center;
	font-size: 50px;
	color: white;
	font-family: 'Aino-Headline', sans-serif;
	font-weight: 900;
}



.flag {
	margin: 0 auto;
	width: 100%;
	justify-content: center;
	align-content: center;
}

.flag-img {
	text-align: center;
}

nav {
	display: flex;
	justify-content: space-around;
}

nav a {
	color: white;
	font-family: 'Aino-Headline';
	font-size: 21px;
	text-decoration: none;
	padding: 0 15px;
}

nav a:hover {
	color: #ffca9f;
	transition: 0.4s;
	text-decoration: underline;
}

.content {
	width: 100%;
	background-color: #e6e7e8;

}

.news {
	width: 50%;
	padding: 30px 60px;
	margin: 10px 10px;
	border: solid 2px black;
	background-color: #f0f1f2;
}

.news:hover {
	transform: scale(1.01);
	background-color: #bae6e8;
	transition: 0.3s;
}

.news-header {
	height: 45px;
}

.news-text {
	font-family: 'Aino', sans-serif;
	margin-bottom: 30px;
}

.news-img {
	align-content: center;
}

.first-breaking {
	margin-top: 10px;
}

.first-breaking:hover {
	background-color: #ff4800;
}

.army {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #fcedc5;
}

.army h3 {
	width: 65%;
}


.army a {
	font-family: 'Aino-Headline';
	font-size: 25px;
	color: #2e6347;
	text-decoration: none;
}

.army a:last-child {
	color: red;
}

.army a:hover {
	color: black;
	text-decoration: underline;
}

.army a:hover:last-child {
	color: red;
}

.breaking {
	margin: 10px 10px 10px 10px;
	border: solid 3px red;
	align-content: center;
	background-color: #ffca9f;
}

.breaking:hover {
	transform: scale(1.01);
	background-color: #ff4800;
	transition: 1s;
}

.breaking-header {
	line-height: 50px;
	text-align: center;
}

.breaking-header h3 {
	font-size: 32px;
}

.line1 {
	display: flex;
}

.line1 img {
	width: 500px;
	height: 300px;
}

.line2 img {
	width: 500px;
	height: 300px;
}

.news-img-img {
	text-align: center;
}

h3 {
	text-align: center;
	font-size: 24px;
	font-family: 'Aino-Bold', sans-serif;
	font-weight: 500;
}

.line2 {
	display: flex;
}

.line3 {
	display: flex;
}

.line4 {
	display: flex;
}

.sinine {
	width: 100%;
	height: 30px;
	background-color: blue;
}

.must {
	width: 100%;
	height: 30px;
	background-color: black;
}

.valge {
	width: 100%;
	height: 30px;
	background-color: white;
}


.latvia {
	background-color: #ffca9f;
}

.latvia h2 {
	font-size: 64px;
	color: black;
	font-family: 'Aino-Headline', sans-serif;
	font-weight: 900;
	text-align: center;
	margin-top: 0;
	padding-top: 83px;
}

.latvia {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.latvia img {
	width: 70%;
	height: auto;
	padding-bottom: 20px;
}

#box:checked + label,  #box2:checked + label, #box3:checked + label, #box4:checked + label, #box5:checked + label, #box6:checked + label, #box7:checked + label, #box8:checked + label{
	background-color:  #0000f0;
}

#box:checked + label::before, #box2:checked + label::before, #box3:checked + label::before, #box4:checked + label::before, #box5:checked + label::before, #box6:checked + label::before, #box7:checked + label::before, #box8:checked + label::before {
	background-color:  #0000f0;
}

#box:checked + label::after, #box2:checked + label::after, #box3:checked + label::after, #box4:checked + label::after, #box5:checked + label::after, #box6:checked + label::after, #box7:checked + label::after, #box8:checked + label::after {
	background-color:  #0000f0;
}

#box, #box2, #box3, #box4, #box5, #box6, #box7, #box8 {
	display: none;
}

label {
	display: block;
	width: 40px;
    height: 40px;
    background-color: #a7a9ab;
    transform: rotate(45deg);
    margin: 0 auto;
}

label::before, label::after {
	content : '';
    display: block;
    width: 40px;
    height: 40px;
    background-color: #a7a9ab;
    border-radius: 50%;
    position: absolute;
}

label::before {
    top: -20px;
    left: 0;
}

label::after {
    top: 0;
    left: -20px;
}    

label:hover, label:hover::before, label:hover::after {
	background-color: #2b7aa1;
	transition: 0.5s;
}



.blue {
	background-color: #0000b4;
	display: flex;
	justify-content: space-between;
}

.blue-text {
	margin-left: 20px;
}

.blue-text h2 {
	font-family: 'Aino-Headline';
	font-size: 100px;
	color: white;
}

.blue-text p {
	font-family: 'Aino';
	font-size: 24px;
	color: white;
	width: 40%;
}

.white {
	display: flex;
	justify-content: space-between;
}

.white-text {
	margin-left: 20px;
}

.white-text h2 {
	font-family: 'Aino-Headline';
	font-size: 100px;
	color: black;
}

.white-text p {
	font-family: 'Aino';
	font-size: 24px;
	color: black;
	width: 40%;
}



@media (max-width: 1350px) {
	.news-img-img {
		text-align: center;
	}

	.line1 img {
		width: 333px;
		height: 200px;
	}

	.line2 img {
		width: 333px;
		height: 200px;
	}

	.line3 img {
		width: 333px;
		height: 200px;
	}

	.line4 img {
		width: 333px;
		height: 200px;
	}

	.news-header {
		height: 70px;
	}

	.flag {
		margin: 0 auto;
		width: 75%;
		justify-content: center;
		align-content: center;
	}

	h3 {
		text-align: center;
		font-size: 21px;
		font-family: 'Aino-Bold', sans-serif;
		font-weight: 500;
	}

	.kallas img {
		width: 233px;
		height: 302px;
	}

	.eestlane img {
		width: 233px;
		height: 302px;
	}
}

@media (max-width: 1000px) {
	.news-img-img {
		text-align: center;
	}

	.line1 img {
		width: 222px;
		height: 133px;
	}

	.line2 img {
		width: 222px;
		height: 133px;
	}

	.line3 img {
		width: 222px;
		height: 133px;
	}

	.line4 img {
		width: 222px;
		height: 133px;
	}

	.news-header {
		height: 100px;
	}

	.flag {
	margin: 0 auto;
	width: 75%;
	justify-content: center;
	align-content: center;
	}

	.kallas h2 {
		font-size: 60px;
		color: white;
		font-family: 'Aino-Headline', sans-serif;
		font-weight: 900;
		align-content: center;
		margin-top: 0;
		padding-top: 83px;
	}

	.blue-text p {
		width: 60%;
	}

	.white-text p {
		width: 60%;
	}

	.latvia h2 {
		font-size: 40px;
	}
}

@media (max-width: 800px) {
	.line1 {
		display: flex;
		flex-direction: column;
		align-content: center;
	}

	.line2 {
		display: flex;
		flex-direction: column;
		align-content: center;
	}

	.line3 {
		display: flex;
		flex-direction: column;
		align-content: center;
	}

	.line4 {
		display: flex;
		flex-direction: column;
		align-content: center;
	}

	.news {
	width: 80%;
	padding: 15px 30px;
	margin: 10px auto;
	border: solid 2px black;
	}

	.flag {
	width: 70%;
	justify-content: center;
	align-content: center;
	}

	.flag img {
		width: 222px;
		height: 133px;
	}

	.header {
	width: 80%;
	height: 400px;
	margin: 0 auto;
	background-color: #0000b4;
	justify-content: center;
	align-content: center;
	}

	nav {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.kallas {
	background-color: #0000b4;
	height: 500px;
	display: flex;
	flex-direction: column-reverse;
	}

	.army {
		flex-direction: column;
	}

	.blue {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		padding-top: 20px;
		text-align: center;
	}

	.blue-text p {
		width: 90%;
	}

	.white {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		padding-top: 20px;
		text-align: center;
	}

	.white-text p {
		width: 90%;
	}

	.latvia img {
		width: 80%;
	}
}

@media (max-width: 525px) {
	nav {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
	}

	.header {
		width: 80%;
		height: 500px;
		margin: 0 auto;
		background-color: #0000b4;
		justify-content: center;
		align-content: center;
	}

	.blue h2, .white h2 {
		font-size: 80px;
	}

	.latvia img {
		width: 95%;
	}
}

@media (max-width: 425px) {
	.news-header {
		height: 120px;
	}

	.line1 {
		display: flex;
		flex-direction: column;
		align-content: center;
		margin: 0 auto;
	}

	.line2 {
		display: flex;
		flex-direction: column;
		align-content: center;
	}

	.line3 {
		display: flex;
		flex-direction: column;
		align-content: center;
	}

	.line4 {
		display: flex;
		flex-direction: column;
		align-content: center;
	}

	.news {
		width: 80%;
		padding: 5px 5px;
		margin: 10px auto;
		border: solid 2px black;
	}

	.flag {
		width: 70%;
		justify-content: center;
		align-content: center;
	}

	.flag img {
		width: 148px;
		height: 89px;
	}

	.header {
		width: 80%;
		height: 420px;
		margin: 0 auto;
		background-color: #0000b4;
		justify-content: center;
		align-content: center;
	}

	nav a {
		font-size: 18px;
	}

	.blue h2, .white h2 {
		font-size: 60px;
	}

	.blue img, .white img {
		width: 90%;
	}
}
